body {
    background-color: #ccd;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    text-align: center;

    background-image: -moz-linear-gradientobackground: #e5e696; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5e696 0%, #d1d360 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* IE10+ */
    background: linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */

    padding: 10px;

    border: solid #564 1px;
    border-radius: 4px;

    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4) inset, 2px 2px 2px rgba(0, 0, 0, 0.2);;

    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;

    background: #e5e696; /* Old browsers */

    padding: 5px;

    border: solid #564 1px;
    border-radius: 4px;

    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4) inset, 2px 2px 2px rgba(0, 0, 0, 0.2);;

    color: #041;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

h1 a {
    text-decoration: none;
    color: white;
}

#canvases {
    position: relative;
    width: 400px;
    height: 300px;
}

#canvases canvas {
    border: solid gray 1px;
    position: absolute;
    left: 0;
    top: 0;
}

#canvases,
#scribble img {
    display: block;
    margin: 3em auto;
}

canvas#scribble,
#scribble img {
    border: solid gray 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#rate,
#blips {
    padding: 10px;

    border: solid #564 1px;
    border-radius: 4px;

    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4) inset, 2px 2px 2px rgba(0, 0, 0, 0.2);;

    background-color: #eeeee8;
    margin-bottom: 1em;
}

#blips textarea {
    width: 970px;
    height: 50px;
}

svg {
    display: block;
    margin: -2em auto 3em;
}

.scribbles-list {
    text-align: center;
    margin: 0 -5px;
}

div.scribbles-list img {
    width: 150px;
    margin: 5px;
    border: solid gray 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


div.rating {
    display: inline-block;
    vertical-align: middle; 
}

.rating img {
    padding: 0 2px;
}

.blip .byline {
    font-weight: bold;
    background-color: #ccc;
    padding: 0.2em 0.5em;
}
