<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Doodlr</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/static/js/refl.js"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <h1><a href="/"><img src="/static/images/logo.png" alt="Doodlr"></a></h1>
        {% block content %}
        {% endblock %}
    </body>
</html>
