{% extends "base.html" %}

{% block title %}Draw!{% endblock %}

{% block scripts %}
    <script src="/static/js/draw.js"></script>
    <script src="/static/js/blips.js"></script>
{% endblock %}

{% block content %}
    <section id="canvases">
        <canvas id="scribble" width="400" height="300" data-post-url="{{scribble.get_absolute_url}}"></canvas>
        <canvas id="glass" width="400" height="300"></canvas>
    </section>

    {% include "toolbar.svg" %}

    {% include "blips.html" %}
{% endblock %}
