{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block scripts %}
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
    <section id="introduction">
        Doodlr is a social scribbling app. Watch others paint and rate their work!
            
        <button id="new-doodle">
            Start doodling!
        </button>
    </section>
    
    <div id="current_section">
        <h2>Currently doodling...</h2>
        <section id="current" class="scribbles">
            {% with currently_scribbling as scribbles %}
                {% include "scribbles-list.html" %}
            {% endwith %}
        </section>
    </div>

    {% if latest_scribbles %}
    <h2>Recent scribbles</h2>
    <section id="recent" class="scribbles">
        {% with latest_scribbles as scribbles %}
            {% include "scribbles-list.html" %}
        {% endwith %}
    </section>
    {% endif %}

    {% if highest_rated %}
    <h2>All time greats</h2>
    <section id="highest_rated" class="scribbles">
        {% with highest_rated as scribbles %}
            {% include "scribbles-list.html" %}
        {% endwith %}
    </section>
    {% endif %}
{% endblock %}
