{% extends "base.html" %}

{% block title %}Scribble{% endblock %}

{% block scripts %}
    <script src="/static/js/scribble.js"></script>
    <script src="/static/js/rating.js"></script>
    <script src="/static/js/blips.js"></script>
{% endblock %}

{% block content %}
    <section id="scribble">
        <div class="scribble">
            <img src="{{scribble.image}}">
        </div>
    </section>

    {% if user != scribble.user %}
        {% include "rate.html" %}
    {% endif %}

    {% include "blips.html" %}
{% endblock %}
